<h1>User Login</h1><br/>
<%= flash[:message] %>
<%= button_to "Log in with Google", '/auth/google_oauth2' %><br/>
<%= form_for(:user, url: "/sessions/login") do |f| %>
    <%= f.label :Username %>:
    <%= f.text_field :username %><br/>
    <%= f.label :Password %>:
    <%= f.password_field :password %><br/><br/>
    <%= f.submit :login %>
<% end %>